{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <ul>
            <li>{{ event.name }}</li>
            <li>{{ event.date.format("d/m/Y") }}</li>
            <li>{{ event.artist.name }}</li>
        </ul>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

