@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

header {
   background-color: #242731;
   padding: 10px 0;
 }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: yellow;
}
