{% extends 'base.html.twig' %}

{% block body %}
<div>
    {% for userEvent in events %}
        <a href="{{ path('app_event_one',{id : userEvent.event.id})}}">{{ userEvent.event.name }}</a>
    {% endfor %}
</div>
{% endblock %}

{% block title %}Mes évenements{% endblock %}

