{% extends 'base.html.twig' %}

{% block title %}
    Liste des utilisateurs
{% endblock %}

{% block body %}
    <div class="user-list-container">
        <h1>Liste des utilisateurs</h1>
        <ul>
            {% for user in users %}
                <li>
                    <div class="name">{{ user.email }}</div>
                    <div class="actions">
                        <a href="{{ path('app_admin_user_edit', {id: user.id}) }}" class="edit-btn">
                            <i class="fas fa-edit"></i> Modifier
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}